html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

body {
    font-family: 'Roboto', arial;
}

[ui-view].ng-enter {
    /* transition on enter for .5s */
    transition: .5s;

    /* start with opacity 0 (invisible) */
    opacity: 0;
}

/* end 'enter' transition on main view */
[ui-view].ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.activeButton {
    background-color: #ededed;
}