<h1>Gallery</h1>
<figure>
    <img ng-src="http://res.cloudinary.com/demo/image/fetch/w_0.08/http://upload.wikimedia.org/wikipedia/commons/4/46/Jennifer_Lawrence_at_the_83rd_Academy_Awards.jpg" alt="">
</figure>