<h1>NASA News</h1>
<h2>{{ news.data.title }}</h2>
<time>{{ news.data.date }}</time>

<p ng-if="news.data.explanation">
    {{ news.data.explanation }}
</p>

<figure ng-if="news.data.url">
    <img ng-src="{{ news.data.url }}" alt="">
</figure>